/* Apple SF Pro Font */
@font-face {
    font-family: "SF Pro";
    src: url("SFPro.woff2") format("woff2"),
         url("SFPro.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

body {
    background: url('assets/Me.jpg') no-repeat center center fixed;
    background-size: 80%;
    background-position: center;
    color: #e0e0e0;
    line-height: 1.6;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    z-index: -1;
}

/* Links */
a {
    color: #d0bf9d;
    text-decoration: none;
}

a:hover {
    color: #000;
}

/* Header und Footer */
header, footer {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

header h1 {
    font-size: 6vw;  /* Dynamische Schriftgröße basierend auf der Viewport-Breite */
    margin-bottom: 20px;
    color: #d0bf9d;
    white-space: nowrap;  /* Verhindert Umbrüche innerhalb des Textes */
    overflow: hidden;     /* Verhindert, dass der Text überläuft */
    text-overflow: ellipsis; /* Zeigt "..." an, wenn der Text abgeschnitten wird */
    padding: 0 10px;      /* Polsterung hinzufügen, um den Text von den Rändern zu entfernen */
}

header p {
    font-size: 1.4em;
    color: #e0e0e0;
}

/* Navigation */
nav {
    margin-top: 15px;
}

nav a {
    margin: 0 15px;
    font-size: 1.1em;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #d0bf9d;
    color: #fff;
}

/* Section */
section {
    padding: 50px 20px;
    max-width: 1000px;
    margin: auto;
}

section.about-me {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    flex-wrap: wrap; 
    padding: 50px 20px;
    max-width: 1000px;
    margin: auto;
}

/* Bild */
.about-me img {
    width: 15%; /* Breite des Bildes anpassen */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Text */
.about-me .about-text {
    width: 80%; /* Breite des Textbereichs anpassen */
    color: #e0e0e0;
    font-size: 1.2em;
    line-height: 1.6;
}

/* Karten */
.card {
    background: rgba(0, 0, 0, 0.8);
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.card i {
    font-size: 2em;
    margin-right: 15px;
    color: #d0bf9d;
}

.card .card-content {
    display: flex;
    align-items: center;
}

.card .card-content h3 {
    flex-grow: 1;
}

/* Button */
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #d0bf9d;
    color: #000;
    border-radius: 25px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    background-color: #d0bf9d;
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: scale(0.95);
    background-color: #d0bf9d;
}

/* Mehr Informationen */
.more-info {
    display: none;
    margin-top: 10px;
    font-size: 1.1em;
    color: #e0e0e0;
}

/* Kontaktinfo */
.contact-info {
    margin-top: 30px;
}

.contact-info p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.contact-info a {
    font-size: 1.2em;
    color: #d0bf9d;
}

.contact-info a:hover {
    color: #d0bf9d;
}

/* Bilder */
.images {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    margin-top: 20px;
}

.images img {
    width: 25%;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-right: 1px;
}

.images img:last-child {
    margin-right: 0;
}

/* Mobile Styles */
@media (max-width: 768px) {
    body {
        background-size: cover;
    }
    
    .images {
        flex-direction: column;
        align-items: center;
    }

    .images img {
        width: 80%;
        margin-bottom: 10px;
    }

    .contact-info {
        text-align: center;
    }

    /* Stellt sicher, dass Bild und Text untereinander sind */
    section.about-me {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    section.about-me img {
        width: 80%;
        margin-bottom: 20px;
    }

    section.about-me .text {
        width: 100%;
    }

    /* Header Schriftgröße für mobile Geräte */
    header h1 {
        font-size: 10vw;  /* Reduziert die Schriftgröße auf mobilen Geräten */
        text-align: center; /* Zentriert den Text */
        padding: 0 10px;    /* Sicherstellen, dass der Text nicht an den Rändern klebt */
    }
}